# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Emacs backup files
*~

# Autotools
.deps
autom4te.cache
config.log
config.status
Makefile
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
missing

